@using KPBrokers.Submission.Quote.UI.Services.Security
@using Newtonsoft.Json
@model KPBrokers.Submission.Quote.UI.ViewModels.BrokerViewModel

@{
    ViewData["Title"] = "Agent";
}

@section PageActions {
    <!-- Breadcrumb start -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Manage Agents</li>
    </ol>
    <!-- Breadcrumb end -->
    <!-- App actions start -->
    <div class="app-actions">       
        <a class="btn active" asp-area="" asp-controller="admin" asp-action="agentsearch">Search Agent (Docubox)</a>
        <button type="button" class="btn" data-toggle="modal" data-target="#create-agent-modal">Create Agent</button>
        <a class="btn" asp-area="" asp-controller="admin" asp-action="brokers">Manage Brokers</a>
        <a class="btn" asp-area="" asp-controller="admin" asp-action="carriers">Manage Carriers</a>
        <a class="btn" asp-area="" asp-controller="admin" asp-action="accountsettings">Users Account Settings</a>
    </div>
    <!-- App actions end -->
}

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <input id="hdn-transaction-message" type="hidden" value="@Model.DisplayMessage" />    
        @if(!string.IsNullOrEmpty(Model.DisplayMessage))
         @Html.Raw(Model.DisplayMessage)      
        
        <div class="table-container">
            <div class="table-responsive">
                <table id="copy-print-csv" class="table table-hover table-bordered">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.DBA)
                            </th>
                            <th>
                                @Html.DisplayName("Address")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.UpdatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agent.UpdatedBy)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Agents)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DBA)
                                </td>
                                <td>
                                    @($"{item.AddressLine1} {item.AddressLine2} {item.City} {item.State} {item.PostalCode} {item.CountryName}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedByName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedByName)
                                </td>
                                <td nowrap>
                                    <a href="#" onclick="populateEditAgent('@JsonConvert.SerializeObject(item)');" data-toggle="modal" data-target="#edit-agent-modal" type="Edit Agent"><i class="icon-edit"></i></a>
                                   &nbsp;
                                    <a href="agentcontacts/@EncryptorHelper.Encrypt(item.AgentId.ToString()+"|"+item.SecondaryAgentId.ToString()+"|"+item.Name)" type="Add Contact"><i class="icon-user-plus"></i></a>
                                    &nbsp;
                                    <a href="#" type="Delete Agent"><i class="icon-delete"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   

    <div class="modal fade" id="edit-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel"><i class="icon-edit-3"></i> Edit Agent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="editagent" method="post">
                    @Html.AntiForgeryToken()
                <div class="modal-body">
                    <partial name="_EditAgentPartial" model="Model" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel"><i class="icon-edit-3"></i> Create Agent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="createagent" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <partial name="_EditAgentPartial" model="Model" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/vendor/datatables/buttons.bs.css" rel="stylesheet" />
}

@section scripts {
    <!-- Slimscroll JS -->
    <script src="~/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="~/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Data Tables -->
    <script src="~/vendor/datatables/dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/vendor/datatables/custom/custom-datatables.js"></script>
    <script src="~/vendor/datatables/custom/fixedHeader.js"></script>

    <!-- Download / CSV / Copy / Print -->
    <script src="~/vendor/datatables/buttons.min.js"></script>
    <script src="~/vendor/datatables/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/vfs_fonts.js"></script>
    <script src="~/vendor/datatables/html5.min.js"></script>
    <script src="~/vendor/datatables/buttons.print.min.js"></script>

    <!--Submission scripts-->
    <script src="~/js/submissions/admin.js"></script>
}
