@model KPBrokers.Submission.Quote.UI.ViewModels.BrokerViewModel

@{
    ViewData["Title"] = "Index";
}

@section PageActions {
    <!-- Breadcrumb start -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Current Submissions</li>
    </ol>
    <!-- Breadcrumb end -->
    <!-- App actions start -->
    <div class="app-actions">
        <button type="button" class="btn">Today</button>
        <button type="button" class="btn">Yesterday</button>
        <button type="button" class="btn">7 days</button>
        <button type="button" class="btn">15 days</button>
        <button type="button" class="btn active">30 days</button>
    </div>
    <!-- App actions end -->
}

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-container">
            <div class="table-responsive">
                <table id="copy-print-csv" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.BrokerId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.AgentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.InsuredId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.StatusId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.CarrierId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.PossibleInceptionDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.PossibleExpityDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.SubmittedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.SubmittedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.Premium)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.QuotedReference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.UpdatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Submission.UpdatedBy)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Submissions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrokerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AgentId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.InsuredId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CarrierId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PossibleInceptionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PossibleExpityDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmittedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmittedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Premium)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuotedReference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/vendor/datatables/buttons.bs.css" rel="stylesheet" />
}

@section scripts {
    <!-- Slimscroll JS -->
    <script src="~/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="~/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Data Tables -->
    <script src="~/vendor/datatables/dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/vendor/datatables/custom/custom-datatables.js"></script>
    <script src="~/vendor/datatables/custom/fixedHeader.js"></script>

    <!-- Download / CSV / Copy / Print -->
    <script src="~/vendor/datatables/buttons.min.js"></script>
    <script src="~/vendor/datatables/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/vfs_fonts.js"></script>
    <script src="~/vendor/datatables/html5.min.js"></script>
    <script src="~/vendor/datatables/buttons.print.min.js"></script>
}